.header{
    background-color: #130A44;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;

    .header_logo {
        // height: 80px;
    }


    .header-profile{
        display: flex;
        align-items: center;

        .profile-picture{
            margin-right: 20px;
            cursor: pointer;
        }
        .profile-name{
            color: #ffffff;

            .header-heading{
                margin: 0;
            }
            .header-para{
                margin: 0;
            }
        }
    }
}