.sidebar {
  padding: 1.5rem;
  .social-media {
    .icons {
      display: flex;
      justify-content: space-evenly;
      cursor: pointer;
      align-items: center;
      .all {
        font-size: 20px;
      }
    }
  }

  .chats {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px 20px;
  }
  .box {
    cursor: pointer;
    width: 25rem;
    border-radius: 20px;
    padding: 20px 2rem;
    margin: 1rem 0;
    position: relative;

    .time {
      display: flex;
      justify-content: right;
      align-items: center;
      position: absolute;
      top: 0;
      right: 25px;

      .apple-icon {
        height: 20px;
        margin-right: 0.5rem;
      }
    }

    .inner-chats {
      display: flex;
      align-items: center;

      .profile-chats {
        height: 60px;
        margin-right: 15px;
      }

      .content {
        .content-heading {
          line-height: 1;
          margin: 0;
        }

        .content-para {
          margin: 0.5rem 0 0 0;
        }
      }

      .arrow {
        position: absolute;
        bottom: 15px;
        right: 25px;
      }
    }
  }
  .box-dark {
    background-color: #130a44;
    color: #ffffff;
    }

  .box-light {
    background-color: #f4f5f7;
    color: #130a44;
  }
}
